extend ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)

    h1(class="mb-4") Chỉnh sửa sản phẩm
    
    form(
        action=`${preFixAdmin}/products-category/edit/${productCategory.id}?_method=PATCH`
        id="form-edit-product"
        method="POST"   
        enctype="multipart/form-data"
    ) 
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=productCategory.title
                required
                
            )
        div(class="form-group")
            label(for="desc") Mô tả 
            textarea(
                class="form-control textarea-tinymce"
                id="desc"
                name="description"
                row="5"
            ) !{productCategory.description}
        div(upload-image
            class="form-group")
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            div(class="image-preview-container")
                img(
                    src=productCategory.thumbnail
                    upload-image-preview
                    class="image-preview"
                )
                span(
                    class="image-preview-close image-preview-hidden"
                    upload-image-close
                ) x
            
            
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=productCategory.position
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(productCategory.status == 'active' ? true : false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(productCategory.status == 'inactive' ? true : false)
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
    script(src="/admin/js/product-category.js")

    